/* src/App.css */
.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  /* background: linear-gradient(to right, #20C2F5, #1A86D3); */
  color: #fff;
  font-weight: bolder;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Text shadow */


}

.fetch-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 7px rgba(60, 60, 60, 0.5);
}

.fetch-btn:hover {
  background-color: #218838;
}

.saved-quotes {
  list-style-type: none;
  padding: 0;
}

.saved-quotes li {
  background-color: #f1f1f1;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  color: #000;
}
